<div class="content-wrapper mt-5">
  <div class="container-fluid mt-4">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Message</li>
    </ol>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>Sent Message</div>
        <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Receiver</th>
                 </tr>
               </thead>
               <tbody>
                <% @message.each do |f| %>
                <tr class='clickable-row table-active'>
                  <td> <%= f.title %></td>
                  <td> <%= User.find(f.usersend_id).name %></td>
                </tr>
                <%= link_to message_path(f.id) %>
                <% end %>
              </tbody>

            </table>
          
        </div>
      </div>
      <div class="card-footer small text-muted"></div>
    </div>
  </div>