<div class="content-wrapper mt-5">
  <div class="container-fluid mt-4">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active">Message</li>
    </ol>
    <div class="row">
      <div class="col-xl-12 col-sm-12 mb-3">
          <div class="card text-white bg-warning o-hidden h-100">
              <div class="card-body">
                  <div class="card-body-icon">
                      <i class="fa fa-fw fa-list"></i>
                  </div>
                  <div class="mr-5">0 Sent Messages!</div>
              </div>
          </div>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-header">
        <i class="fa fa-area-chart"></i>Sent Message</div>
        <div class="card-body">
              <table class="table table-responsive">
                <thead>
                  <tr>
                   <th>Title</th>
                   <th>Receiver</th>
                 </tr>
               </thead>
               <tbody>
                <% @message.each do |f| %>
                <tr class='clickable-row' data-href='<%= message_path(f.id) %>'>
                  <td> <%= f.title %></td>
                  <td> <%= f.usersend.name %></td>
                </tr>
                <% end %>
              </tbody>

            </table>

        </div>
        <div class="card-footer small text-muted"></div>
      </div>
    </div>
  </div>
