<tr id="trs_<%= friendrequest.id %>">
    <td><%= friendrequest.usersend.email %></td>
    <td><%= friendrequest.usersend.name %></td>
    <td>
      <% if friendrequest.status == false %>
        <p style='color:#e74c3c;'>Waiting for accept</p>
      <% else %>
        <p style='color:#007bff;'>Accepted</p>
      <% end %>
    </td>
</tr>
